/* RESPONSIVE */

@media (min-width: 1000px) and (max-width: 1444px) {
    .mt-90{
        margin-top: 40px !important;
    }
}

/* PC real only */
@media (min-width: 1200px) {
    .hide-on-pc {
        display: none !important;
    }

}


/* PC only */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }

}

/* Tablet to PC low resolution */

@media (min-width: 985px) and (max-width: 1200px) {
    .hidden-low-pc{
        display: none !important;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }

    .second-content{
        min-height: calc(100vh - 88px);
        margin: 44px 0;
        padding: 10px;
    }

    .footer,
    .selling-point{
        display: none;
    }

    .my-product-list,
    .product-list{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 5px;
    }

    .cart{
        border: none;
        padding: 0;
    }

    .main-content {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .product-img{
        height: 150px;
    }

    .header{
        background-color: #4AB848;
        padding: 10px 0;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .header-infor a {
        margin: 0 5px;
    }
    
    .header-infor div {
        margin: 0 5px;
    }

    .header-search{
        padding: 2px 9px;
        margin: 0;
    }

    .mr-0{
        margin-right: 0 !important;
    }

    .header-nav-icon{
        margin-right: 10px;
    }

    .product-price{
        font-size: 14px;
    }

    .percent-off{
        display: none;
    }

    .detail{
        padding-top: 0;
    }

    .detail-img-main {
        height: 300px;
        padding: 10px;
    }

    .detail-infor{
        padding: 10px 0;
    }

    .detail-name{
        font-size: 20px;
        min-height: unset;
    }

    .detail-feedback{
        padding: 10px 0;
    }

    .detail-button{
        padding: 10px 0;
    }

    .mt-4 {
        margin-top: 0.8rem!important;
    }

    .detail-paragraph{
        padding: 4px 0 10px 0px;
    }

    .cart-total{
        flex-direction: column;
        padding: 15px;
    }

    .total-block{
        flex-direction: column;
        width: 100%;
    }

    .total-block .primary-blue-button,
    .total-block div:last-child{
        width: 100%;
    }
    
    .sticky{
        bottom: 48px;
    }

    .detail-ticket-item{
        margin: 0;
        width: 100%;
        justify-content: space-between;
    }

    .detail-ticket-title{
        font-size: 14px;
    }

    .detail-ticket-price.total-price{
        text-align: right;
    }

    .total-select{
        display: flex;
        justify-content: flex-start;

        width: 100%;
    }

    .total-select label{
        margin-left: 10px;
        font-size: 14px;
    }

    .cart-item{
        padding: 0;
    }

    .cart-item-checkbox{
        padding: 0 4px;
    }
    
    .cart-item-name{
        font-size : 14px;
    }

    .cart-item-price{
        font-size: 14px;
    }

    .cart-item-img{
        height: 80px;
        width: 80px;
        margin: auto;
        margin-right: 4px;
    }

    .cart-item-infor{
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item-price-total{
        font-size: 16px;
    }

    .quantity-button {
        padding: 1px 5px;
    }

    .cart-item-infor .cart-item-price-total{
        padding-right: 0;
        text-align: right;
        width: 100%;
    }

    input.quantity{
        width: 40px;
    }

    .cart-item-price-retail{
        font-size: 14px;
    }

    .primary-block{
        padding: 12px;
        border-radius: 10px;
    }

    .address-name strong{
        font-size: 14px;
    }

    .mt-3 {
        margin-top: 0.5rem!important;
    }

    .address-name{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-shop-avt{
        height: 30px;
        width: 30px;
    }

    .purchase-history .cart-item-img {
        width: 90px;
        height: 90px;
    }

    .color-item {
        height: 25px;
        width: 25px;
    }

    .purchase-history .cart-item-price{
        font-size: 16px;
    }

    .payment-detail{
        font-size: 14px;
    }

    .payment-detail .price{
        font-size: 20px;
    }

    .total-bill{
        flex-direction: column;
        align-items: flex-end !important;

        font-size: 14px;
    }

    .total-bill .price{
        font-size: 16px;
    }

    .cart-item-price{
        margin-bottom: 0;
    }

    .cart-item-content{
        padding: 10px 0;
    }

    .cart-total-block{
        flex-direction: column;
        width: 100%;
    }

    .cart-checkout-button{
        width: 100%;
    }

    .cart-checkout-button .primary-blue-button{
        width: 100%;
    }

    .login-form{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(255, 255, 255, 0.565);
    }

    .login-form .primary-form{
        border-radius: 0;
        width: 95%;
        border: 0;
        box-shadow: none;
    }

    .text-35 {
        font-size: 24px;
        letter-spacing: 3px;
    }

    .side{
        display: none;
    }

    .navigation-block .side-nav-item{
        padding: 10px 0;
        border-radius: 0;
        align-items: center;
    }
    
    .navigation-block .side-nav-item:not(:last-child){
        border-bottom: 1px solid #ddd;
    }

    .profile-form{
        flex-direction: column;
        align-items: flex-start !important;
    }

    .primary-blue-button{
        width: 100%;
    }

    .nav{
        flex-wrap: wrap;
        margin-top: 0;
    }

    .nav-item{
        display: flex;
        flex: none !important;
        width: 100% !important;
        margin-bottom: 8px;
    }

    .nav-link{
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header-mobile{
        padding: 10px 10px;
    }

    .width-draw{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .transaction-table{
        margin-top: 0;
    }

    .width-draw .value {
        font-size: 17px;
    }

    .transaction-pagination{
        margin-top: 10px;
    }
}

/* Tablet Only */
@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-t{
        display: none !important;
    }
}


/* Mobile Only */
@media (max-width: 739px) {
    .hidden-m{
        display: none;
    }

    .transaction-table tr td:first-child {
        font-size: 10px;
    }

    table td, table th {
        text-align: center;
        font-size: 10px;
    }

    .primary-title{
        padding-bottom: 0;
    }

    .count-down{
        padding-bottom: 0;
    }

    .flash-sale {
        margin-top: 5px;
    }
}

/* 500*/
@media (min-width: 500px) and (max-width: 742px) {
    .hidden-500plus {
        display: none !important;
    }
}


@media (max-width: 500px) {
    .hidden-500{
        display: none !important;
    }
}

@media (max-width: 375px) {
    
}